/* main text color: #757575; */
/* secondary text color: #212121; */
/* accent text color: #2196F3; */
/* main bg color: #fff; */
/* secondary bg color: #F5F4FA; */
/* black color: #000000; */
/* white color: #ffffff; */
/* main font-size: 14px; */
/* main line-height: 1.71; */
/* auth-nav text color: rgba(255, 255, 255, 0.6); */

:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --main-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --black-color: #000000;
  --white-color: #ffffff;
  --main-font-size: 14px;
  --main-line-height: 1.71;
  --auth-nav-text-color: rgba(255, 255, 255, 0.6);
}

/* Base styles */

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  font-family: 'Roboto', sans-serif;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  cursor: pointer;
}

.bg-color {
  background-color: var(--secondary-bg-color);
}

/* Site-nav */

/* logo */

.logo {
  color: var(--black-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo > .accent {
  color: var(--accent-text-color);
}

.site-nav .link {
  color: var(--secondary-text-color);
}

.site-nav .link,
.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}

.link.current {
  color: var(--accent-text-color);
}

/* auth-nav */

.auth-nav .link {
  color: var(--main-text-color);
}

/* Section */

.section .title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

/* Hero section */

.hero-section {
  background-color: #2f303a;
}

.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--accent-text-color);
  color: var(--white-color);

  line-height: 1.86;
  letter-spacing: 0.06em;
}

/* Features section */

.feature-list .subtitle {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 1.14;
  text-transform: uppercase;
}

/* Team section */

.team-list {
  font-size: 16px;
  line-height: 1.19;
}

.team-list .subtitle {
  color: var(--secondary-text-color);
  font-weight: 500;
}

/* Page-footer */

.page-footer {
  background-color: #2f303a;
}

.page-footer > .logo {
  color: var(--white-color);
}

.address {
  font-style: normal;
}

.address .text {
  color: var(--white-color);
}

.address .link {
  color: var(--auth-nav-text-color);
}

/* Portfolio */

.filter-list .button:hover,
.filter-list .button:focus {
  background-color: var(--accent-text-color);
  color: #fff;
}

.portfolio-list .subtitle {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .text {
  color: var(--main-text-color);

  font-size: 16px;
  line-height: 1.88;
}
